# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
Builds/MacOSX/RecentFilesMenuTemplate.nib
Builds/MacOSX/Info-App.plist
Builds/MacOSX/Ghost.xcodeproj/xcuserdata/stephenpowell.xcuserdatad/xcschemes/xcschememanagement.plist
Builds/MacOSX/Ghost.xcodeproj/xcuserdata/stephenpowell.xcuserdatad/xcschemes/Ghost - App.xcscheme
Builds/MacOSX/Ghost.xcodeproj/xcuserdata/louise.xcuserdatad/xcschemes/xcschememanagement.plist
Builds/MacOSX/Ghost.xcodeproj/xcuserdata/louise.xcuserdatad/xcschemes/Ghost - App.xcscheme
Builds/MacOSX/Ghost.xcodeproj/project.xcworkspace/xcuserdata/stephenpowell.xcuserdatad/UserInterfaceState.xcuserstate
Builds/MacOSX/Ghost.xcodeproj/project.xcworkspace/xcuserdata/louise.xcuserdatad/UserInterfaceState.xcuserstate
Builds/MacOSX/Ghost.xcodeproj/project.xcworkspace/contents.xcworkspacedata
Builds/MacOSX/Ghost.xcodeproj/project.pbxproj
JuceLibraryCode/AppConfig.h
JuceLibraryCode/include_juce_audio_basics.cpp
JuceLibraryCode/include_juce_audio_basics.mm
JuceLibraryCode/include_juce_audio_devices.cpp
JuceLibraryCode/include_juce_audio_devices.mm
JuceLibraryCode/include_juce_audio_formats.cpp
JuceLibraryCode/include_juce_audio_formats.mm
JuceLibraryCode/include_juce_audio_processors.cpp
JuceLibraryCode/include_juce_audio_processors.mm
JuceLibraryCode/include_juce_core.cpp
JuceLibraryCode/include_juce_core.mm
JuceLibraryCode/include_juce_cryptography.cpp
JuceLibraryCode/include_juce_cryptography.mm
JuceLibraryCode/include_juce_data_structures.cpp
JuceLibraryCode/include_juce_data_structures.mm
JuceLibraryCode/include_juce_events.cpp
JuceLibraryCode/include_juce_events.mm
JuceLibraryCode/include_juce_graphics.cpp
JuceLibraryCode/include_juce_graphics.mm
JuceLibraryCode/include_juce_gui_basics.cpp
JuceLibraryCode/include_juce_gui_basics.mm
JuceLibraryCode/include_juce_gui_extra.cpp
JuceLibraryCode/include_juce_gui_extra.mm
JuceLibraryCode/include_juce_opengl.cpp
JuceLibraryCode/include_juce_opengl.mm
JuceLibraryCode/include_juce_video.cpp
JuceLibraryCode/include_juce_video.mm
JuceLibraryCode/JuceHeader.h
JuceLibraryCode/ReadMe.txt
