# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
Builds/MacOSX/RecentFilesMenuTemplate.nib
Builds/MacOSX/Info-App.plist
Builds/MacOSX/Ghost.xcodeproj/xcuserdata/stephenpowell.xcuserdatad/xcschemes/xcschememanagement.plist
Builds/MacOSX/Ghost.xcodeproj/xcuserdata/stephenpowell.xcuserdatad/xcschemes/Ghost - App.xcscheme
Builds/MacOSX/Ghost.xcodeproj/xcuserdata/louise.xcuserdatad/xcschemes/xcschememanagement.plist
Builds/MacOSX/Ghost.xcodeproj/xcuserdata/louise.xcuserdatad/xcschemes/Ghost - App.xcscheme
Builds/MacOSX/Ghost.xcodeproj/project.xcworkspace/xcuserdata/stephenpowell.xcuserdatad/UserInterfaceState.xcuserstate
Builds/MacOSX/Ghost.xcodeproj/project.xcworkspace/xcuserdata/louise.xcuserdatad/UserInterfaceState.xcuserstate
Builds/MacOSX/Ghost.xcodeproj/project.xcworkspace/contents.xcworkspacedata
Builds/MacOSX/Ghost.xcodeproj/project.pbxproj
JuceLibraryCode/AppConfig.h
JuceLibraryCode/include_juce_audio_basics.cpp
JuceLibraryCode/include_juce_audio_basics.mm
JuceLibraryCode/include_juce_audio_devices.cpp
JuceLibraryCode/include_juce_audio_devices.mm
JuceLibraryCode/include_juce_audio_formats.cpp
JuceLibraryCode/include_juce_audio_formats.mm
JuceLibraryCode/include_juce_audio_processors.cpp
JuceLibraryCode/include_juce_audio_processors.mm
JuceLibraryCode/include_juce_core.cpp
JuceLibraryCode/include_juce_core.mm
JuceLibraryCode/include_juce_cryptography.cpp
JuceLibraryCode/include_juce_cryptography.mm
JuceLibraryCode/include_juce_data_structures.cpp
JuceLibraryCode/include_juce_data_structures.mm
JuceLibraryCode/include_juce_events.cpp
JuceLibraryCode/include_juce_events.mm
JuceLibraryCode/include_juce_graphics.cpp
JuceLibraryCode/include_juce_graphics.mm
JuceLibraryCode/include_juce_gui_basics.cpp
JuceLibraryCode/include_juce_gui_basics.mm
JuceLibraryCode/include_juce_gui_extra.cpp
JuceLibraryCode/include_juce_gui_extra.mm
JuceLibraryCode/include_juce_opengl.cpp
JuceLibraryCode/include_juce_opengl.mm
JuceLibraryCode/include_juce_video.cpp
JuceLibraryCode/include_juce_video.mm
JuceLibraryCode/JuceHeader.h
JuceLibraryCode/ReadMe.txt
previous/Ancho/Ancho.jucer
previous/Ancho/Builds/MacOSX/Ancho.xcodeproj/project.pbxproj
previous/Ancho/Builds/MacOSX/Ancho.xcodeproj/project.xcworkspace/contents.xcworkspacedata
previous/Ancho/Builds/MacOSX/Ancho.xcodeproj/project.xcworkspace/xcuserdata/louise.xcuserdatad/UserInterfaceState (AVS MacBook Air's conflicted copy 2018-09-08).xcuserstate
previous/Ancho/Builds/MacOSX/Ancho.xcodeproj/project.xcworkspace/xcuserdata/louise.xcuserdatad/UserInterfaceState.xcuserstate
previous/Ancho/Builds/MacOSX/Ancho.xcodeproj/project.xcworkspace/xcuserdata/stephenpowell.xcuserdatad/UserInterfaceState.xcuserstate
previous/Ancho/Builds/MacOSX/Ancho.xcodeproj/xcuserdata/louise.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
previous/Ancho/Builds/MacOSX/Ancho.xcodeproj/xcuserdata/louise.xcuserdatad/xcschemes/Ancho - App.xcscheme
previous/Ancho/Builds/MacOSX/Ancho.xcodeproj/xcuserdata/louise.xcuserdatad/xcschemes/xcschememanagement.plist
previous/Ancho/Builds/MacOSX/Ancho.xcodeproj/xcuserdata/stephenpowell.xcuserdatad/xcschemes/Ancho - App.xcscheme
previous/Ancho/Builds/MacOSX/Ancho.xcodeproj/xcuserdata/stephenpowell.xcuserdatad/xcschemes/xcschememanagement.plist
previous/Ancho/Builds/MacOSX/Info-App.plist
previous/Ancho/Builds/MacOSX/RecentFilesMenuTemplate.nib
previous/Ancho/JuceLibraryCode/AppConfig.h
previous/Ancho/JuceLibraryCode/include_juce_audio_basics.cpp
previous/Ancho/JuceLibraryCode/include_juce_audio_basics.mm
previous/Ancho/JuceLibraryCode/include_juce_audio_devices.cpp
previous/Ancho/JuceLibraryCode/include_juce_audio_devices.mm
previous/Ancho/JuceLibraryCode/include_juce_audio_formats.cpp
previous/Ancho/JuceLibraryCode/include_juce_audio_formats.mm
previous/Ancho/JuceLibraryCode/include_juce_audio_processors.cpp
previous/Ancho/JuceLibraryCode/include_juce_audio_processors.mm
previous/Ancho/JuceLibraryCode/include_juce_core.cpp
previous/Ancho/JuceLibraryCode/include_juce_core.mm
previous/Ancho/JuceLibraryCode/include_juce_cryptography.cpp
previous/Ancho/JuceLibraryCode/include_juce_cryptography.mm
previous/Ancho/JuceLibraryCode/include_juce_data_structures.cpp
previous/Ancho/JuceLibraryCode/include_juce_data_structures.mm
previous/Ancho/JuceLibraryCode/include_juce_events.cpp
previous/Ancho/JuceLibraryCode/include_juce_events.mm
previous/Ancho/JuceLibraryCode/include_juce_graphics.cpp
previous/Ancho/JuceLibraryCode/include_juce_graphics.mm
previous/Ancho/JuceLibraryCode/include_juce_gui_basics.cpp
previous/Ancho/JuceLibraryCode/include_juce_gui_basics.mm
previous/Ancho/JuceLibraryCode/include_juce_gui_extra.cpp
previous/Ancho/JuceLibraryCode/include_juce_gui_extra.mm
previous/Ancho/JuceLibraryCode/include_juce_opengl.cpp
previous/Ancho/JuceLibraryCode/include_juce_opengl.mm
previous/Ancho/JuceLibraryCode/include_juce_video.cpp
previous/Ancho/JuceLibraryCode/include_juce_video.mm
previous/Ancho/JuceLibraryCode/JuceHeader.h
previous/Ancho/JuceLibraryCode/ReadMe.txt
previous/Ancho/Source/CoinPair.cpp
previous/Ancho/Source/CoinPair.h
previous/Ancho/Source/DataAnalyser.cpp
previous/Ancho/Source/DataAnalyser.h
previous/Ancho/Source/E.h
previous/Ancho/Source/F.h
previous/Ancho/Source/hmac.h
previous/Ancho/Source/Indicators.cpp
previous/Ancho/Source/Indicators.h
previous/Ancho/Source/Main.cpp
previous/Ancho/Source/MainComponent.cpp
previous/Ancho/Source/MainComponent.h
previous/Ancho/Source/SetExternal.cpp
previous/Ancho/Source/SetExternal.h
previous/Ancho/Source/sha256.cpp
previous/Ancho/Source/sha256.h
previous/Ancho/Source/ThreadPoolJobs.cpp
previous/Ancho/Source/ThreadPoolJobs.h
previous/Ancho/Source/Trade.cpp
previous/Ancho/Source/Trade.h
previous/Ancho/Source/Trader.cpp
previous/Ancho/Source/Trader.h
previous/Ancho/Source/TradeValueSet.cpp
previous/Ancho/Source/TradeValueSet.h
previous/Ghost_20180815/Builds/MacOSX/Ghost.xcodeproj/project.pbxproj
previous/Ghost_20180815/Builds/MacOSX/Ghost.xcodeproj/project.xcworkspace/contents.xcworkspacedata
previous/Ghost_20180815/Builds/MacOSX/Ghost.xcodeproj/project.xcworkspace/xcuserdata/louise.xcuserdatad/UserInterfaceState.xcuserstate
previous/Ghost_20180815/Builds/MacOSX/Ghost.xcodeproj/project.xcworkspace/xcuserdata/stephenpowell.xcuserdatad/UserInterfaceState.xcuserstate
previous/Ghost_20180815/Builds/MacOSX/Ghost.xcodeproj/xcuserdata/louise.xcuserdatad/xcschemes/Ghost - App.xcscheme
previous/Ghost_20180815/Builds/MacOSX/Ghost.xcodeproj/xcuserdata/louise.xcuserdatad/xcschemes/xcschememanagement.plist
previous/Ghost_20180815/Builds/MacOSX/Ghost.xcodeproj/xcuserdata/stephenpowell.xcuserdatad/xcschemes/Ghost - App.xcscheme
previous/Ghost_20180815/Builds/MacOSX/Ghost.xcodeproj/xcuserdata/stephenpowell.xcuserdatad/xcschemes/xcschememanagement.plist
previous/Ghost_20180815/Builds/MacOSX/Info-App.plist
previous/Ghost_20180815/Builds/MacOSX/RecentFilesMenuTemplate.nib
previous/Ghost_20180815/Ghost.jucer
previous/Ghost_20180815/JuceLibraryCode/AppConfig.h
previous/Ghost_20180815/JuceLibraryCode/include_juce_audio_basics.cpp
previous/Ghost_20180815/JuceLibraryCode/include_juce_audio_basics.mm
previous/Ghost_20180815/JuceLibraryCode/include_juce_audio_devices.cpp
previous/Ghost_20180815/JuceLibraryCode/include_juce_audio_devices.mm
previous/Ghost_20180815/JuceLibraryCode/include_juce_audio_formats.cpp
previous/Ghost_20180815/JuceLibraryCode/include_juce_audio_formats.mm
previous/Ghost_20180815/JuceLibraryCode/include_juce_audio_processors.cpp
previous/Ghost_20180815/JuceLibraryCode/include_juce_audio_processors.mm
previous/Ghost_20180815/JuceLibraryCode/include_juce_core.cpp
previous/Ghost_20180815/JuceLibraryCode/include_juce_core.mm
previous/Ghost_20180815/JuceLibraryCode/include_juce_cryptography.cpp
previous/Ghost_20180815/JuceLibraryCode/include_juce_cryptography.mm
previous/Ghost_20180815/JuceLibraryCode/include_juce_data_structures.cpp
previous/Ghost_20180815/JuceLibraryCode/include_juce_data_structures.mm
previous/Ghost_20180815/JuceLibraryCode/include_juce_events.cpp
previous/Ghost_20180815/JuceLibraryCode/include_juce_events.mm
previous/Ghost_20180815/JuceLibraryCode/include_juce_graphics.cpp
previous/Ghost_20180815/JuceLibraryCode/include_juce_graphics.mm
previous/Ghost_20180815/JuceLibraryCode/include_juce_gui_basics.cpp
previous/Ghost_20180815/JuceLibraryCode/include_juce_gui_basics.mm
previous/Ghost_20180815/JuceLibraryCode/include_juce_gui_extra.cpp
previous/Ghost_20180815/JuceLibraryCode/include_juce_gui_extra.mm
previous/Ghost_20180815/JuceLibraryCode/include_juce_opengl.cpp
previous/Ghost_20180815/JuceLibraryCode/include_juce_opengl.mm
previous/Ghost_20180815/JuceLibraryCode/include_juce_video.cpp
previous/Ghost_20180815/JuceLibraryCode/include_juce_video.mm
previous/Ghost_20180815/JuceLibraryCode/JuceHeader.h
previous/Ghost_20180815/JuceLibraryCode/ReadMe.txt
previous/Ghost_20180815/Source/CoinPair.cpp
previous/Ghost_20180815/Source/CoinPair.h
previous/Ghost_20180815/Source/E.h
previous/Ghost_20180815/Source/F.h
previous/Ghost_20180815/Source/hmac.h
previous/Ghost_20180815/Source/Indicators.cpp
previous/Ghost_20180815/Source/Indicators.h
previous/Ghost_20180815/Source/Main.cpp
previous/Ghost_20180815/Source/MainComponent.cpp
previous/Ghost_20180815/Source/MainComponent.h
previous/Ghost_20180815/Source/SetExternal.cpp
previous/Ghost_20180815/Source/SetExternal.h
previous/Ghost_20180815/Source/sha256.cpp
previous/Ghost_20180815/Source/sha256.h
previous/Ghost_20180815/Source/SimulationValueSet.cpp
previous/Ghost_20180815/Source/SimulationValueSet.h
previous/Ghost_20180815/Source/Simulator.cpp
previous/Ghost_20180815/Source/Simulator.h
previous/Ghost_20180815/Source/ThreadPoolJobs.cpp
previous/Ghost_20180815/Source/ThreadPoolJobs.h
